<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>umm</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/css/bootstrap.min.css">
    <script src="https://code.jquery.com/jquery-3.7.0.min.js"
            integrity="sha256-2Pmvv0kuTBOenSvLm6bvfBSSHrUJ+3A7x6P5Ebd07/g=" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/js-cookie@3.0.5/dist/js.cookie.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/paginationjs/2.1.4/pagination.min.js"></script>
    <script src="/js/basic.js"></script>
    <style>
        #footer {
            position: fixed;
            background-color: white;
            left: 300px;
            right: 300px;
            bottom: 0;
            height: 4rem;
        }
        table {
            width: 100%;
            border-collapse: collapse;
            text-align: center;
        }
        th, td {
            border-bottom: 1px solid #444444;
            padding: 10px;
        }
    </style>
</head>

<body style="margin: 30px auto; width: 400px;">

<header class="p-3" style="text-align: center">
    <a class="logo" href="/" style="font-weight: 900; color: inherit">Umm</a>
</header>

<div class="container flex-grow-1 p-0" >

    <div class="d-flex flex-column">

        <div class="p-3">
            <div style="margin-top: 10px; margin-left: 10px" th:each = "umm : ${ummList}">
                <input type="hidden" id="umm-id" th:value="${umm.id}">
                <img  style="width:30px;" th:src="${umm.myImage}">
                <a style="font-size: 12px; font-weight: 600; color: inherit" th:href ="@{/profile/{user_id}(user_id=${umm.user_id})}"
                   th:text="${umm.nickname}"></a>
                <a style="float:right; font-size: 5px; color: darkgray" th:text="${umm.createdAt}"></a>

                <div style="margin-left: 30px">

                    <p style="font-size: 11px; font-weight: 500; color: inherit; margin-top: 7px" th:text="${umm.contents}"></p>
                    <div>
                        <img  style="width:320px;" th:src="${umm.image}">
                    </div>

                    <div style="margin-top: 7px">
                    <button class="btn btn-black" style="font-size: 8px" id="like-btn">좋아요</button>
                    <button class="btn btn-black" style="font-size: 8px" onclick="javascript:doDisplay();">댓글</button>
                    <button class="btn btn-black" style="font-size: 8px" id="repost-btn">저장</button>
                    </div>

                    <div id="myDIV" style= "display: none">
                        <div class="row-6" th:each="comment : ${umm.commentList}">
                            <input type="hidden" id="comment-id" th:value="${comment.id}">
                            <div>
                                <span style="font-size: 7px; font-weight: 700; color: inherit" th:text="${comment.nickname}"></span>
                                <div>
                                    <input id="comment" style="font-size: 11px; font-weight: 500; color: inherit; border:none" th:value="${comment.comment}">
                                    <button class="btn bnt-black" style="font-size: 2px" id="commentUpdate-btn">수정</button>
                                    <button class="btn bnt-black" style="font-size: 2px" id="commentDelete-btn">삭제</button>
                                </div>
                            </div>
                        </div>
                        <input id="comments" style="font-size: 11px; font-weight: 600; color: inherit; width: 270px; border:none" placeholder="댓글을 입력해 주세요.">
                        <button class="btn bnt-black" style="font-size: 7px; color: dodgerblue" id="comment-btn">게시</button>
                    </div>

                </div>

                <label style="font-size: 7px">좋아요 </label>
                <label style="font-size: 7px" th:text="${umm.likeItUmmCount}"></label>
                <label style="font-size: 7px">댓글 </label>
                <label style="font-size: 7px" th:text="${umm.commentCount}"></label><br>
            </div>
        </div>

    </div>

</div>

<div id="footer">
    <table>
        <tr>
            <td><a href="/" class="logo" style="font-size: 10px; font-weight: 900; color: inherit">home</a>
            </td>
            <td><a href="/umm" class="logo" style="font-size: 10px; font-weight: 900; color: inherit">new Umm</a>
            </td>
            <td><a href="/profile" class="logo" style="font-size: 10px; font-weight: 900; color: inherit">User</a>
            </td>
        </tr>
    </table>
</div>

</body>

</html>
<script type="text/javascript">
    var bDisplay = true; function doDisplay(){
        var con = document.getElementById("myDIV");
        if(con.style.display=='none'){
            con.style.display = 'block';
        }else{
            con.style.display = 'none';
        }
    }
    // 좋아요 기능/
    const likeButton = document.getElementById('like-btn');

    if (likeButton) {
        likeButton.addEventListener('click', event => {
            let umm_id = document.getElementById('umm-id').value;
            fetch(`/ummLike/${umm_id}`, {
                method: 'POST'
            })
                .then(() => {
                    alert('좋아요 성공!');
                    location.replace(`/`);
                });
        });
    }
</script>