<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>umm</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/css/bootstrap.min.css">
    <script src="https://code.jquery.com/jquery-3.7.0.min.js"
            integrity="sha256-2Pmvv0kuTBOenSvLm6bvfBSSHrUJ+3A7x6P5Ebd07/g=" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/js-cookie@3.0.5/dist/js.cookie.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/paginationjs/2.1.4/pagination.min.js"></script>
    <script src="/js/basic.js"></script>
    <style>
        #footer {
            position: fixed;
            background-color: white;
            left: 300px;
            right: 300px;
            bottom: 0;
            height: 4rem;
        }
        table {
            width: 100%;
            border-collapse: collapse;
            text-align: center;
        }
        th, td {
            border-bottom: 1px solid #444444;
            padding: 10px;
        }
        *{margin:0; padding:0;}
        a{text-decoration:none;}
        .wrap{padding:10px;}

        .btn_open{font-weight:bold; margin:5px; padding:4px 6px; background:white; color:#fff;}
        .pop_wrap{position:fixed; top:0; left:0; right:0; bottom:0; background:rgba(0,0,0,.5); font-size:0; text-align:center;}
        .pop_wrap:after{display:inline-block; height:100%; vertical-align:middle; content:'';}
        .pop_wrap .pop_inner{display:inline-block; padding:20px 30px; background:#fff; width:200px; vertical-align:middle; font-size:15px;}
    </style>
</head>

<body style="margin: 100px auto; width: 400px;">

<header class="p-3">
    <a class="logo" href="/" style="font-weight: 900; color: inherit">Umm</a>
    <a href="/user/login-page" class="logo" th:if="__${user_id}__ == null" style="float:right; margin-top: 5px; font-size: 13px">로그아웃</a>
</header>

<div class="container flex-grow-1 p-0" >

    <div class="d-flex flex-column">

        <div class="flex-grow-1 p-3" >
            <img style="float:right; margin-right: 30px; width:80px;" th:src="${profile.myImage}">
            <p style="font-size: 14px; font-weight: 900; color: inherit" th:text="${profile.myComment}">소개글</p>
            <p style="font-size: 12px; font-weight: 600; color: inherit" th:text="${profile.nickname}"></p>
            <a href="#pop_info_1" class="btn_open" style="font-size: 13px; font-weight: 200; color: inherit" th:text="팔로잉+${profile.followUsers}+명"></a><br>
            <p></p>
            <button type="button" th:if="__${user_id}__ == null" style="width: 180px; float:left; font-size: 12px" class="btn btn-outline-dark" onclick="location.href='/updateProfile'">프로필 수정</button>
            <button type="button" th:if="__${user_id}__ == null" style="width: 180px; float:right; font-size: 12px" class="btn btn-outline-dark" onclick="location.href='/updatePassword'">비밀번호 수정</button>
            <button type="button" th:if="__${user_id}__ != null" style="width: 360px; float:right; font-size: 12px" class="btn btn-outline-dark" id="follow-btn">팔로우</button><br><br>
<!--            pathval == profil.getfollist.id -> 언팔 못함-->
            <input type="hidden" id="user-id" th:value="__${user_id}__">
            <table>
                <tr>
                    <td><a href="/profile" class="logo" style="font-size: 10px; font-weight: 900; color: inherit; text-decoration:underline">Umm</a>
                    </td>
                    <td  th:if="__${user_id}__ == null"><a href="/reumm" class="logo" style="font-size: 10px; font-weight: 900; color: inherit">저장됨</a>
                    </td>
                </tr>
            </table>
        </div>



            <div id="pop_info_1" class="pop_wrap" style="display:none;">
                <div class="pop_inner">
                    <div class="row-6" th:each = "follower : ${profile.followingUserDtoList}">
                        <img style=" margin-right: 30px; width: 40px;" th:src="${follower.myImage}">
                        <a style="font-size: 12px; font-weight: 900; color: inherit" th:onclick="|location.href='@{/profile/{user_id}(user_id=${follower.id})}'|" th:text="${follower.nickname}"></a>
                    </div>
                    <br>
                    <button type="button"  style="font-size: 10px" class="btn btn-outline-dark">닫기</button>
                </div>
            </div>



        <div class="p-3">
            <div style="margin-top: 10px; margin-left: 10px"  th:each = "umm : ${profile.ummList}">

                <img  style="width:30px;" th:src="${umm.myImage}">
                <a style="font-size: 12px; font-weight: 600; color: inherit" th:href ="@{/profile/{user_id}(user_id=${umm.user_id})}"
                   th:text="${umm.nickname}"></a>

                <button type="button" style="font-size: 10px; float:right"
                        th:onclick="|location.href='@{/umm?umm_id={umm_id}(umm_id=${umm.id})}'|"
                        class="btn btn-light">수정</button>
                <a style="float:right; font-size: 5px; color: darkgray; margin-right: 10px; margin-top: 7px;" th:text="${umm.createdAt}"></a>


                <div style="margin-left: 30px">

                    <p style="font-size: 11px; font-weight: 500; color: inherit; margin-top: 7px" th:text="${umm.contents}"></p>

                    <div>
                        <a th:onclick="|location.href='@{/getUmm?umm_id={umm_id}(umm_id=${umm.id})}'|">
                        <img  style="width:320px;" th:src="${umm.image}">
                        </a>
                    </div>


                    <div style="margin-top: 7px">
                    <button class="btn btn-black" style="font-size: 8px" id="like-btn" th:onclick="likeIt([[${umm.id}]])">좋아요</button>
                    <button class="btn btn-black" style="font-size: 8px" th:onclick="javascript:doDisplay([[${umm.id}]]);">댓글</button>
                    <button class="btn btn-black" style="font-size: 8px" id="repost-btn" th:onclick="rePost([[${umm.id}]])">저장</button>
                    </div>

                         <div th:id="'myDIV-'+${umm.id}" style= "display: none">
                             <input th:id="'comment'+${umm.id}" style="font-size: 11px; font-weight: 600; color: inherit; width: 270px; border:none" placeholder="댓글을 입력해 주세요.">
                             <button class="btn bnt-black" style="font-size: 2px" id="createCom-btn" th:onclick="create([[${umm.id}]])">게시</button>

                            <div class="row-6" th:each="comment : ${umm.commentList}">
                                <input type="hidden" id="comment-id" th:value="${comment.id}">
                                <div>
                                    <span style="font-size: 7px; font-weight: 700; color: inherit" th:text="${comment.nickname}"></span>
                                    <div>
                                    <input th:id="'comment'+${comment.id}" style="font-size: 11px; font-weight: 500; color: inherit; border:none" th:value="${comment.comment}">
                                        <button class="btn bnt-black" style="font-size: 2px" th:onclick="updateComment([[${comment.id}]])">수정</button>
                                        <button class="btn bnt-black" style="font-size: 2px" th:onclick="deleteComment([[${comment.id}]])">삭제</button>
                                    </div>
                                </div>
                            </div>

                        </div>

                </div>

                <label style="font-size: 7px">좋아요 </label>
                <label style="font-size: 7px" th:text="${umm.likeItUmmCount}"></label>
                <label style="font-size: 7px">댓글 </label>
                <label style="font-size: 7px" th:text="${umm.commentCount}"></label><br>
            </div>
        </div>


    </div>

</div>

<div id="footer">
    <table>
        <tr>
            <td><a href="/" class="logo" style="font-size: 10px; font-weight: 900; color: inherit">home</a>
            </td>
            <td><a href="/ummList" class="logo" style="font-size: 10px; font-weight: 900; color: inherit">돋보기</a>
            </td>
            <td><a href="/umm" class="logo" style="font-size: 10px; font-weight: 900; color: inherit">new Umm</a>
            </td>
            <td><a href="/profile" class="logo" style="font-size: 10px; font-weight: 900; color: inherit">User</a>
            </td>
        </tr>
    </table>
</div>

</body>

</html>
<script>
    var target = document.querySelectorAll('.btn_open');
    var btnPopClose = document.querySelectorAll('.pop_wrap .btn-outline-dark');
    var targetID;

    // 팝업 열기
    for(var i = 0; i < target.length; i++){
        target[i].addEventListener('click', function(){
            targetID = this.getAttribute('href');
            document.querySelector(targetID).style.display = 'block';
        });
    }

    // 팝업 닫기
    for(var j = 0; j < target.length; j++){
        btnPopClose[j].addEventListener('click', function(){
            this.parentNode.parentNode.style.display = 'none';
        });
    }

    //좋아요 기능
    function likeIt(ummId){

        $.ajax({
            type: 'POST',
            url: `/ummLike/`+ummId,

        }).done(function () {
            alert("좋아요!")
            location.replace(`/profile`);
        })
    }

    // repost 기능
    function rePost(ummId){

        $.ajax({
            type: 'POST',
            url: `/re-Umm/`+ummId,

        }).done(function () {
            alert("umm 저장되었음")
            location.replace(`/reumm`);
        })
    }


    function create(ummId){

        var commentElementId = "comment" + ummId;
        var comment = $('#' + commentElementId).val();

        $.ajax({
            type: 'POST',
            url: `/comments/`+ummId,
            contentType: 'application/json',
            data: JSON.stringify({ comment: comment }),
        }).done(function () {
            alert("댓글 작성 완료")
            location.replace(`/profile`);
        })
    }

    function updateComment(commentId){

        var commentElementId = "comment" + commentId;
        var comment = $('#' + commentElementId).val();

        $.ajax({
            type: 'PUT',
            url: `/comments/`+commentId,
            contentType: 'application/json',
            data: JSON.stringify({ comment: comment }),
        }).done(function () {
            alert("댓글 수정 완료")
            location.replace(`/profile`);
        })
    }

    function deleteComment(commentId){

        $.ajax({
            type: 'Delete',
            url: `/comments/`+commentId,
        }).done(function () {
            alert("댓글 삭제 완료")
            location.replace(`/profile`);
        })
    }

</script>




<script type="text/javascript">
    var bDisplay = true; function doDisplay(ummId){
        var commentContainerId = `myDIV-${ummId}`;
        var con = document.getElementById(commentContainerId);

        if(con.style.display=='none'){
            con.style.display = 'block';
        }else{
            con.style.display = 'none';
        }
    }
</script>
