<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>umm</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/css/bootstrap.min.css">
    <script src="https://code.jquery.com/jquery-3.7.0.min.js"
            integrity="sha256-2Pmvv0kuTBOenSvLm6bvfBSSHrUJ+3A7x6P5Ebd07/g=" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/js-cookie@3.0.5/dist/js.cookie.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/paginationjs/2.1.4/pagination.min.js"></script>
    <script src="/js/basic.js"></script>
    <style>
        #footer {
            position: fixed;
            background-color: white;
            left: 300px;
            right: 300px;
            bottom: 0;
            height: 4rem;
        }
        table {
            width: 100%;
            border-collapse: collapse;
            text-align: center;
        }
        th, td {
            border-bottom: 1px solid #444444;
            padding: 10px;
        }
        *{margin:0; padding:0;}
        a{text-decoration:none;}
        .wrap{padding:10px;}

        .btn_open{font-weight:bold; margin:5px; padding:4px 6px; background:white; color:#fff;}
        .pop_wrap{position:fixed; top:0; left:0; right:0; bottom:0; background:rgba(0,0,0,.5); font-size:0; text-align:center;}
        .pop_wrap:after{display:inline-block; height:100%; vertical-align:middle; content:'';}
        .pop_wrap .pop_inner{display:inline-block; padding:20px 30px; background:#fff; width:200px; vertical-align:middle; font-size:15px;}
    </style>
</head>

<body style="margin: 100px auto; width: 400px;">

<header class="p-3">
    <a class="logo" href="/" style="font-weight: 900; color: inherit">Umm</a>
    <a href="/user/login-page" class="logo" th:if="__${user_id}__ == null" style="float:right; margin-top: 5px; font-size: 13px">로그아웃</a>
</header>

<div class="container flex-grow-1 p-0" >

    <div class="d-flex flex-column">

        <div class="flex-grow-1 p-3" >
            <p style="font-size: 14px; font-weight: 900; color: inherit" th:text="${profile.myComment}">소개글</p>
            <a href="/user/login-page" class="logo" style="float:right; margin-right: 50px; font-size: 13px">image</a>
            <p style="font-size: 12px; font-weight: 600; color: inherit" th:text="${profile.nickname}"></p>
            <a href="#pop_info_1" class="btn_open" style="font-size: 13px; font-weight: 200; color: inherit" th:text="팔로잉+${profile.followUsers}+명"></a><br>
            <p></p>
            <button type="button" th:if="__${user_id}__ == null" style="width: 180px; float:left; font-size: 12px" class="btn btn-outline-dark" onclick="location.href='/updateProfile'">프로필 수정</button>
            <button type="button" th:if="__${user_id}__ == null" style="width: 180px; float:right; font-size: 12px" class="btn btn-outline-dark" onclick="location.href='/user/introduce'">비밀번호 수정</button>
            <button type="button" th:if="__${user_id}__ != null" style="width: 360px; float:right; font-size: 12px" class="btn btn-outline-dark" id="follow-btn">팔로우</button><br><br>
<!--            pathval == profil.getfollist.id -> 언팔 못함-->
            <input type="hidden" id="user-id" th:value="__${user_id}__">
            <table>
                <tr>
                    <td><a href="/profile" class="logo" style="font-size: 10px; font-weight: 900; color: inherit">Umm</a>
                    </td>
                    <td><a href="/reumm" class="logo" style="font-size: 10px; font-weight: 900; color: inherit">저장됨</a>
                    </td>
                </tr>
            </table>
        </div>



            <div id="pop_info_1" class="pop_wrap" style="display:none;">
                <div class="pop_inner">
                    <div class="row-6" th:each = "follower : ${profile.followingUserDtoList}">
                        <a class="card-title" th:onclick="|location.href='@{/profile/{user_id}(user_id=${follower.id})}'|" th:text="${follower.nickname}"></a>
                    </div>
                    <button type="button" class="btn_close">닫기</button>
                </div>
            </div>



        <div class="p-3">
            <div style="margin-top: 10px; margin-left: 10px" th:each = "reumm : ${profile.reUmmList}">
                <input type="hidden" id="umm-id" th:value="${reumm.id}">
                <a th:text="${reumm.nickname}"></a>
                <a style="float:right; font-size: 5px; color: darkgray" th:text="${reumm.createdAt}"></a>

                <div style="margin-left: 30px">
                    <p th:text="${reumm.image}"></p>
                    <p th:text="${reumm.contents}"></p>


                    <button class="btn btn-black" style="font-size: 8px" id="like-btn">좋아요</button>
                    <button class="btn btn-black" style="font-size: 8px" onclick="javascript:doDisplay();">댓글</button>
                    <button class="btn btn-black" style="font-size: 8px" id="repost-btn">저장취소</button>

                    <div id="myDIV" style= "display: none">
                        <div class="row-6" th:each="comment : ${reumm.commentList}">
                            <input type="hidden" id="comment-id" th:value="${comment.id}">
                            <div>
                                <span th:text="${comment.nickname}"></span> :
                                <input id="comment" th:value="${comment.comment}"></input>
                                <button class="btn bnt-black" style="font-size: 2px" id="commentUpdate-btn">수정</button>
                                <button class="btn bnt-black" style="font-size: 2px" id="commentDelete-btn">삭제</button>
                            </div>
                        </div>
                        <input id="comments" placeholder="댓글을 입력해 주세요.">
                        <button class="btn bnt-black" style="font-size: 2px" id="comment-btn">등록</button>
                    </div>
                </div>

                <label style="font-size: 7px">좋아요 </label>
                <label style="font-size: 7px" th:text="${reumm.likeItUmmCount}"></label>
                <label style="font-size: 7px">댓글 </label>
                <label style="font-size: 7px" th:text="${reumm.commentCount}"></label><br>
            </div>
        </div>

    </div>

</div>

<div id="footer">
    <table>
        <tr>
            <td><a href="/" class="logo" style="font-size: 10px; font-weight: 900; color: inherit">home</a>
            </td>
            <td><a href="/umm" class="logo" style="font-size: 10px; font-weight: 900; color: inherit">new Umm</a>
            </td>
            <td><a href="/profile" class="logo" style="font-size: 10px; font-weight: 900; color: inherit">User</a>
            </td>
        </tr>
    </table>
</div>

</body>

</html>
<script>
    var target = document.querySelectorAll('.btn_open');
    var btnPopClose = document.querySelectorAll('.pop_wrap .btn_close');
    var targetID;

    // 팝업 열기
    for(var i = 0; i < target.length; i++){
        target[i].addEventListener('click', function(){
            targetID = this.getAttribute('href');
            document.querySelector(targetID).style.display = 'block';
        });
    }

    // 팝업 닫기
    for(var j = 0; j < target.length; j++){
        btnPopClose[j].addEventListener('click', function(){
            this.parentNode.parentNode.style.display = 'none';
        });
    }

</script>
<script type="text/javascript">
    var bDisplay = true; function doDisplay(){
        var con = document.getElementById("myDIV");
        if(con.style.display=='none'){
            con.style.display = 'block';
        }else{
            con.style.display = 'none';
        }
    }
</script>