<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>umm</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/css/bootstrap.min.css">
    <script src="https://code.jquery.com/jquery-3.7.0.min.js"
            integrity="sha256-2Pmvv0kuTBOenSvLm6bvfBSSHrUJ+3A7x6P5Ebd07/g=" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/js-cookie@3.0.5/dist/js.cookie.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/paginationjs/2.1.4/pagination.min.js"></script>
    <script src="/js/basic.js"></script>
    <style>
        #footer {
            position: fixed;
            background-color: white;
            left: 300px;
            right: 300px;
            bottom: 0;
            height: 4rem;
        }
        table {
            width: 100%;
            border-collapse: collapse;
            text-align: center;
        }
        th, td {
            border-bottom: 1px solid #444444;
            padding: 10px;
        }
    </style>
</head>
<body style="margin: 100px auto; width: 400px;">

<header class="p-3">
    <a href="/profile" class="logo" style="font-weight: 900; color: inherit">취소</a>
    <button type="button" style="width: 50px; float:right; font-size: 12px" class="btn btn-outline-dark" id="modifyProfile-btn">완료</button>
</header>

<div class="container flex-grow-1 p-0" >

    <div class="d-flex flex-column">

        <div class="flex-grow-1 p-3" >
            <article>
                <header class="mb-4">
                    <label>닉네임</label>
                    <input type="text" class="form-control" placeholder="+닉네임" id="nickname" th:value="${profile.nickname}">
                </header>
                <section class="mb-5">
                    <label>소개</label>
                    <textarea class="form-control h-25" rows="10" placeholder="+소개작성" id="myComment" th:text="${profile.myComment}"></textarea>
                </section>
            </article>
        </div>

    </div>

</div>

<div id="footer">
    <table>
        <tr>
            <td><a href="/" class="logo" style="font-size: 10px; font-weight: 900; color: inherit">home</a>
            </td>
            <td><a href="/umm" class="logo" style="font-size: 10px; font-weight: 900; color: inherit">new Umm</a>
            </td>
            <td><a href="/profile" class="logo" style="font-size: 10px; font-weight: 900; color: inherit">User</a>
            </td>
        </tr>
    </table>
</div>

</body>

</html>